CompileFlags:
  Add:
    - "-ICore/Inc"
    - "-IDrivers/CMSIS/Device/ST/STM32F1xx/Include"
    - "-IDrivers/CMSIS/Include"
    - "-IDrivers/STM32F1xx_HAL_Driver/Inc"
    - "-IDrivers/STM32F1xx_HAL_Driver/Inc/Legacy"
    - "-DUSE_HAL_DRIVER"
    - "-DSTM32F103xB"
    - "-std=c11"
