CompileFlags:
  Add:
    - "-I/home/gui/.repos/front-ecu/Core/Inc"
    - "-I/home/gui/.repos/front-ecu/Drivers/CMSIS/Device/ST/STM32F1xx/Include"
    - "-I/home/gui/.repos/front-ecu/Drivers/CMSIS/Include"
    - "-I/home/gui/.repos/front-ecu/Drivers/STM32F1xx_HAL_Driver/Inc"
    - "-I/home/gui/.repos/front-ecu/Drivers/STM32F1xx_HAL_Driver/Inc/Legacy"
    - "-I/home/gui/.repos/front-ecu/Middlewares/Third_Party/FreeRTOS/Source/include"
    - "-I/home/gui/.repos/front-ecu/Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS_V2"
    - "-I/home/gui/.repos/front-ecu/Middlewares/Third_Party/FreeRTOS/Source/portable/IAR/ARM_CM3"
    - "-DUSE_HAL_DRIVER"
    - "-DSTM32F103xB"
    - "-I/home/gui/.repos/front-ecu/.ignore"
